<div class="items">
  <h2>Items</h2>
  <form  #itemsForm="ngForm" (ngSubmit)="addItem($event)">
    <input type="text" [(ngModel)]="itemName" name="name" #name="ngModel" />
    <button class="add_item" type="submit">Add new</button>
  </form>
  <a class="item_list" *ngFor="let item of items" (click)="selectItem(item)" >
    <div [class.active]="item.id === currentItem.id"></div>
    <h5>{{item.name}}</h5>
    <span class="badge">{{item.comments.length}}</span>
    <button (click)="removeItem(item)">Delete</button>
  </a>
</div>

<div class="comments">
  <h2>Comments #{{currentItemIndex}}</h2>
  <app-comments [currentItem] = "currentItem" [comments] = "comments"></app-comments>
</div>
